// HIGHER NUMBERS MEAN DARKER COLORS

// GROUND
$brown0: #dcba92;
$brown1: #c4a17e;
$brown2: #b28767;
$brown3: #a06f53;
$brown4: #8d5740;
$brown5: #7b4230;
$brown6: #692f22;

// SKY
$sky0: #cdf0ff;
$sky1: #b9ebff;
$sky2: #a5e5ff;
$sky3: #91e0ff;
$sky4: #73d7ff;
$sky5: #55ceff;
$sky6: #37c6ff;
$sky7: #19bdff;
$sky8: #00abf0;
$sky9: #0072a0;


// CACTUS
$cactus0: #93c47d;
$cactus1: #6aa84f;
$cactus2: #38761d;