@import "Sass Imports/colors";


@mixin flexbox($flexDirection: row, $justifyContent: center, $alignItems: center)
{
    display: flex;
    flex-direction: $flexDirection;
    justify-content: $justifyContent;
    align-items: $alignItems;
}


html, body
{
    @include flexbox($flexDirection: column);
    width: 100vw;
    height: 100vh;
    border: none;
    padding: 0;
    margin: 0;
}


main
{
    @include flexbox();
    flex-wrap: wrap;
    width: 765px;  // 51 colunas na matriz - 15px para cada lado
    height: 435px;  // 29 linhas na matriz
}


.cell
{
    width: 15px;
    height: 15px;
    background-color: red;
}